target/
.idea/
*.iml
*.md

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Secrets for Discord Bot.
/src/main/kotlin/discord/Settings.kt
token.txt
# Server logs
/logs/
