<!--
This logback configuration defines a single appender named "STDOUT" which outputs to the console.
The pattern for logging messages includes:
- Timestamp in dd-MM-yyyy HH:mm:ss.SSS format
- Log level with color highlighting
- Thread name in magenta
- Logger name (truncated to 40 characters) and method name in yellow, followed by the class name (without package) and line number from where the log was called
- The actual log message
- Any throwable associated with the log message, including its stack trace
All log messages at "info" level and above will be outputted using this appender.
-->
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{dd-MM-yyyy HH:mm:ss.SSS} %highlight(%-5level) %magenta([%thread]) %yellow(%logger{40}.%M\(%class{0}.java:%line\)) - %msg%throwable%n
      </pattern>
    </encoder>
  </appender>

  <!-- File appender definition -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/bot.log</file>
    <encoder>
      <pattern>
        %d{dd-MM-yyyy HH:mm:ss.SSS} %highlight(%-5level) %magenta([%thread]) %yellow(%logger{40}.%M\(%class{0}.java:%line\)) - %msg%throwable%n
      </pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- daily rollover, with max file size of 10MB -->
      <fileNamePattern>logs/archived/bot.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>1MB</maxFileSize>
      <maxHistory>30</maxHistory> <!-- Keep 30 days of history -->
      <totalSizeCap>5GB</totalSizeCap> <!-- Total size of all log files -->
    </rollingPolicy>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>